Fluxo_WA+STT+Telegram.json
[{"id":"df3fccb0.4c17b","type":"tab","label":"UF","disabled":false,"info":""},{"id":"3aa267d4.2df248","type":"debug","z":"df3fccb0.4c17b","name":"FiltroTexto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"736aa849.9a7a48","type":"debug","z":"df3fccb0.4c17b","name":"SaidaWA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":580,"wires":[]},{"id":"ae6dddd5.3a24e","type":"debug","z":"df3fccb0.4c17b","name":"LogSaidaFinalMessage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2450,"y":1380,"wires":[]},{"id":"55942b99.bfb3f4","type":"watson-assistant-v2","z":"df3fccb0.4c17b","name":"WatsonAssistant","service-endpoint":"","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":790,"y":640,"wires":[["736aa849.9a7a48","e53ec597.29f118"]]},{"id":"a10f4ab6.4c72d8","type":"telegram receiver","z":"df3fccb0.4c17b","name":"InicioDoFluxo","bot":"80964654.578068","saveDataDir":"","filterCommands":true,"x":110,"y":660,"wires":[["a6349cb0.dd245","471e1a56.435c94"],[]]},{"id":"5f7a0558.62c22c","type":"telegram sender","z":"df3fccb0.4c17b","name":"SaidaTelegram","bot":"80964654.578068","x":1220,"y":640,"wires":[[]]},{"id":"a6349cb0.dd245","type":"switch","z":"df3fccb0.4c17b","name":"Texto","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":310,"y":640,"wires":[["a63d2341.18e3e","47750018.4c281"]]},{"id":"471e1a56.435c94","type":"switch","z":"df3fccb0.4c17b","name":"Fala","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":700,"wires":[["2f1d7f77.eaeb8","e81ba4ac.dd2228"]]},{"id":"d38e2bdc.dbf588","type":"watson-speech-to-text","z":"df3fccb0.4c17b","name":"Speech-to-Text","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":580,"y":700,"wires":[["55942b99.bfb3f4","d48d50d1.528a4"]]},{"id":"2f1d7f77.eaeb8","type":"debug","z":"df3fccb0.4c17b","name":"Fala","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":760,"wires":[]},{"id":"531e3f26.b4164","type":"debug","z":"df3fccb0.4c17b","name":"FiltroFala","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":760,"wires":[]},{"id":"d48d50d1.528a4","type":"debug","z":"df3fccb0.4c17b","name":"SaidaSTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":700,"wires":[]},{"id":"a63d2341.18e3e","type":"debug","z":"df3fccb0.4c17b","name":"Texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":580,"wires":[]},{"id":"344ccac3.b0a086","type":"function","z":"df3fccb0.4c17b","name":"msgInicial","func":"first=msg.originalMessage.from.first_name+\" \"\nlast=msg.originalMessage.from.last_name\n\nmsg.payload.content = \"Olá,\"+first+last+\" como posso te ajudar? Basta falar ou digitar o que deseja!\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":720,"wires":[["5f7a0558.62c22c","b1f3525b.fd682"]]},{"id":"47750018.4c281","type":"change","z":"df3fccb0.4c17b","name":"FiltroTexto","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["55942b99.bfb3f4","3aa267d4.2df248"]]},{"id":"e81ba4ac.dd2228","type":"change","z":"df3fccb0.4c17b","name":"FiltroFala","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.weblink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["d38e2bdc.dbf588","531e3f26.b4164"]]},{"id":"e53ec597.29f118","type":"change","z":"df3fccb0.4c17b","name":"FiltroSaida","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":640,"wires":[["5f7a0558.62c22c"]]},{"id":"1d6e95f.23d866a","type":"telegram command","z":"df3fccb0.4c17b","name":"/start","command":"/start","bot":"80964654.578068","strict":false,"hasresponse":true,"x":930,"y":740,"wires":[["344ccac3.b0a086"],[]]},{"id":"b1f3525b.fd682","type":"debug","z":"df3fccb0.4c17b","name":"MensagemInicio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":720,"wires":[]},{"id":"80964654.578068","type":"telegram bot","z":"","botname":"UFTP","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]